<div>
    <ng-container *ngIf="loading">
        <div class="column col-12 text-center pt-10 pb-10">
            <div class="loading loading-lg">Loading ...</div>
        </div>
    </ng-container>

    <ng-container *ngIf="data">
        <div *ngFor="let item of data | paginate: { itemsPerPage: itemsPerPage , currentPage: p, totalItems: totalItems }; let i = index"
            class="mb-3">
            <div class="row">
                <div class="col-md-10">
                    <h5>{{item.name}}</h5>
                    <span>Region: {{item.region}}</span><br />
                    <span>Coat of Arms: {{item.coatOfArms}}</span>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary float-right mt-4"
                        [routerLink]="['/details', getIndex(i)]">View</button>
                </div>
            </div>
            <hr />
        </div>
    </ng-container>

    <ng-container *ngIf="data.length === 0 || null">
        <p>There was a no data received!</p>
    </ng-container>
    <div class="container paginator">
        <pagination-controls (pageChange)="getPage(p = $event)" class="mt-5"></pagination-controls>
    </div>
</div>