<div>
    <ng-container *ngIf="loading">
        <div class="column col-12 text-center pt-10 pb-10">
            <div class="loading loading-lg">Loading ...</div>
        </div>
    </ng-container>
    <div style="margin-bottom: 25px;">
        <h3>{{data.name}}</h3>
        <hr />
        <h5 class="mb-4 mt-4"><strong>Region:</strong> {{data.region}}</h5>
        <div class="card">
            <div class="card-header">
                <h5>Coat of Arms</h5>
            </div>
            <div class="card-body">
                {{data.coatOfArms}}
            </div>
        </div>
    </div>
    <button class="btn btn-primary mt-4" [routerLink]="['']">Back</button>
</div>